.modal {
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #fff;
  width: 80%;
  height: 70%;
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem 0.2rem;
}