@import-normalize;

:root {
  --secondary-color: rgb(73, 80, 87);
  --light-color: #d1d6dc
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  box-sizing: border-box;
  padding: 0 2rem;
}

@media screen and (min-width: 1101px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
}
