.header {
    background-color: rgba(204, 204, 204, .30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
}

.link {
    color: darkblue;
    text-decoration: none;
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
}

.link:hover {
    background-color: rgba(182, 25%, 50%, 0.277);
}
.active {
    /* color: #61dafb; */
        background-color: cadetblue;
        color: #fff;
}

.menu {
    list-style: none;
    display: flex;
    margin: 1rem 0;
    padding: 0;
}

.menuItem {
    padding: .5rem;
}