.form {
    max-width: 30rem;
    margin: 3rem auto;
}
.formContent {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.label {
  display: flex;
    flex-direction: column;
  gap: 0.4rem;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .inp,
  .select {
    border: solid 1px var(--light-color);
    border-radius: 0.2rem;
    padding: 0 0.5rem;
    height: 1.9rem;
    box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
  }
  
  .select {
    height: 2.025rem;
  }
.formElement {
  position: relative;
  margin-bottom: 1.5rem;
}

.formCheckbox {
  display: flex;
  gap: .4rem;
  font-size: .8rem;
}
  .formWrapper {
    border: solid 1px #999;
    border-radius: 0.3rem;
    padding: 2.5rem 2rem 2rem;
  }
  
  .formTitle {
    text-transform: uppercase;
    background-color: oldlace;
    padding: 0.4rem 1rem;
  }
  
  .radioLabel {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    text-transform: none;
    font-size: .8rem;
  }
  
  .radioList {
    list-style: none;
    margin: .5rem 0 0 0;
    padding: 0;
    display: flex;
    gap: 1rem
  }

.fileUploadWrapper {
  position: relative;
}

.filePreview {
  border: solid 1px var(--light-color);
  box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarPreview {
  width: 100%;
  height: auto;
}
.file {
    display: grid;
    align-items: center;
  }
  
  .fileInp {
    margin: 0;
    opacity: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
    height: 100%;
  }
.fileInp:hover {
  cursor: pointer;
}
  
.fileCustom {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  font-size: .9rem;
  padding: 0.326rem 1rem;
    color: #555;
    background-color: #eee;
    border: 0.07rem solid #ddd;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
    user-select: none;
    cursor: pointer;
}
.twoColumn {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
  
}
input.error {
  border: solid 1px red;
}

.error {
  color: red;
  font-size: .7rem;
}
.errorAbsolute {
  position: absolute;
  bottom: -1rem;
}

.success {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 1px #ccc;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem 0.3rem #ccc;

  padding: 2rem;
  position: fixed;
  top: -50vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 30rem;
  height: 30vh;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.show {
  opacity: 1;
  top: 30vh;
}

.submit {
  font-size: 1.5rem;
  margin: 0 auto;
  display: block;
  padding: 0.5rem 1.5rem;
}
input[type=date] {
  max-width: 7rem;
}

input[type=date]:focus,
input[type=text]:focus,
select:focus,
.fileInp:hover~.fileCustom {
  box-shadow: 0 0 .3rem .1rem rgba(60, 25, 186, 0.362);
  outline: none;
}
